.navbar {
    background-color: var(--accent-color);
    color: #fff;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
}

.navbarNav {
    padding: 0px 15px;
    /* margin-left: auto;
    margin-right: auto; */
    overflow: hidden;
    position: relative;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.fas {
    margin-right: 10px;
    width: 16px;
    height: 16px;
}

.item {
    list-style-type: none;
    float: left;
}

.link {
    font-size: 16px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
}

.isActive {
    color: var(--accent-color);
    background-color: #fff;
}

/* @media (min-width: 992px) {
    .navbar {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
        
    }
}

@media (max-width: 991px) {
    .link {
        padding: 12px 30px;
    }
} */
