.footerLayout {
    background-color: #2f303a;
    font-style: normal;
    text-align: center;
}

.footerContainerList {
    margin-bottom: 40px;
}

.footerContainerContact {
    margin-top: 20px;
}

.title {
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 10px;
}

.contactItem:not(:first-child) {
    margin-top: 8px;
}

/* .contact {
    text-align: left;
} */

.contactItem,
.contactItem {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* color: #fff; */
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
}

.contactItem:focus,
.contactItem:hover {
    color: var(--accent-color);
}

.iconLink {
    margin-top: 20px;
    width: 206px;
    /* height: 80px; */
    text-align: center;
    /* margin: auto; */
    margin-left: auto;
    margin-right: auto;
}

.footerText {
    color: #fff;
    display: block;
    width: 100%;
    font-size: 12px;
    text-align: center;
}

/* @media screen and (max-width: 767px) {
    .footerLayout {
        text-align: center;
    }
} */

@media screen and (min-width: 768px) {
    .footerContainerList {
        max-width: 600px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
    }

    .iconLink {
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media screen and (min-width: 1200px) {
    .footerLayout {
        text-align: left;
    }
    .footerContainer {
        /* align-items: baseline; */
        max-width: 1400px;
        /* flex-wrap: nowrap; */
    }

    .footerContainerList {
        /* margin-bottom: 0px; */
        /* text-align: left; */
        max-width: 1400px;
        flex-wrap: nowrap;
        /* align-items: baseline; */
    }

    .contactItem:not(:first-child) {
        margin-top: 9px;
    }

    .iconLink {
        text-align: center;
    }
}

/* @media screen and (max-width: 1200px) {
    .footerContainer {
        flex-wrap: wrap;
        text-align: center;
    }
} */
