.section {
    background-color: #f5f4fa;
}

.title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.wrapper {
    /* text-align: center; */
    /* display: flex;
    flex-wrap: wrap;
    column-gap: 40px; */
    /* flex-basis: calc(100%-120px) / 4; */
}

@media screen and (min-width: 768px) {
    .wrapper {
        /* text-align: center; */
        /* display: flex;
        flex-wrap: wrap;
        column-gap: 40px; */
        /* flex-basis: calc(100%-120px) / 4; */

        display: flex;
        text-align: center;
        flex-wrap: wrap;
        gap: 30px;
    }
}

@media screen and (min-width: 1168px) {
}
