.head {
    background-color: #f7f7f7;
    border-bottom: 1px solid #dadde1;
}

.headContainer {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    align-items: center;
    /* padding: 24px 64px; */
}
.logoType {
    font-size: 26px;
    line-height: 1.2;
    color: var(--title-text-color);
}

.logo {
    color: var(--accent-color);
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contactItem {
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contactItem:focus,
.contactItem:hover {
    color: var(--accent-color);
}

.contactsContMail {
    margin-right: 10px;
    fill: currentColor;
}
