.hero {
    /* margin-left: auto;
    margin-right: auto; */
    background-color: #2f303a;
    /* padding-top: 260px;
    padding-bottom: 260px; */
    /* padding-left: 64px; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url('/photo_шопер_котик.jpg');
    background-size: contain;
    /* color: #f7f7f7; */
}

.title {
    color: #ffffff;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.text {
    font-weight: 600;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 40px;
}

.navLink {
    padding: 16px 60px;
    border-radius: 200px;
    border: transparent;

    background-color: var(--accent-color);
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    align-items: center;
    text-align: center;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    word-wrap: break-word;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navLink:focus,
.navLink:hover {
    background-color: #188ce8;
}
