.list {
    display: flex;
    gap: 20px;
    /* text-align: center; */
    justify-content: center;
    align-items: baseline;
}

.icon {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.icon:hover,
.icon:focus {
    opacity: 0.8;
}
