.title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.wrapper {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    /* flex-basis: calc(100%-120px) / 4; */
}
