.item {
    width: 100%;
    box-shadow:
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}

.item:not(:last-child) {
    margin-bottom: 30px;
}

.cardFront {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 57% 90%, 50% 100%, 43% 90%, 0 90%);
}

.FrontTitle {
    padding: 6px 12px;
}

.title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.18;

    /* font-size: 16px; */
    /* font-weight: 600; */
    /* margin-top: 0.2rem; */
    /* color: rgb(16, 24, 40); */
    text-align: center;
}

.back {
    display: none;
}

.insideCard {
    display: none;
}

@media screen and (min-width: 768px) {
    .item {
        width: calc((100% - 60px) / 2);
    }

    .item:not(:last-child) {
        margin-bottom: 0px;
    }
    .cardFront {
        max-height: 225px;
    }
}

@media screen and (min-width: 1168px) {
    .item {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
        /* width: calc((100% - 180px) / 4); */
        width: 225px;
        height: 225px;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        /* height: 544px; */
    }

    .link {
        background-color: rgba(0, 0, 0, 0.05);
        box-shadow: -0.1rem 1.7rem 6.6rem -3.2rem rgba(0, 0, 0, 0.5);
        height: 225px;
        position: relative;
        transition: all 1s ease;
        width: 225px;
        /* width: calc((100% - 180px) / 4); */
    }

    .link:hover {
        box-shadow: -0.1rem 1.7rem 6.6rem -3.2rem rgba(0, 0, 0, 0.75);
        /* width: calc((100% - 180px) / 4); */
    }

    .card {
        height: 225px;
        perspective: 100rem;
        position: absolute;
        right: 0;
        transition: all 1s ease;
        visibility: hidden;
        /* width: calc((100% - 180px) / 4); */
        width: 225px;
        z-index: 100;
    }

    .card > * {
        visibility: visible;
    }

    .container {
        height: 100%;
        position: absolute;
        right: 0;
        transform-origin: left;
        transform-style: preserve-3d;
        transition: all 1s ease;
        width: 100%;
    }

    .link:hover .container {
        transform: rotateY(-180deg);
    }

    .front {
        backface-visibility: hidden;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        background-color: #fafbfa;
    }

    .cardFront {
        height: 159px;

        /* width: calc((100% - 180px) / 4); */
        position: relative;
        /* width: 242px; */
    }

    .back {
        display: block;
        background-color: #fafbfa;
        transform: rotateY(180deg);
        backface-visibility: hidden;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .videoContainer {
        /* position: relative; */
        clip-path: polygon(0% 0%, 100% 0%, 90% 50%, 100% 100%, 0% 100%);
        height: auto;
        min-height: 100%;
        object-fit: cover;
        width: 100%;
    }

    .insideCard {
        display: block;
        background-color: #fafbfa;
        box-shadow: inset 20rem 0px 5rem -2.5rem rgba(0, 0, 0, 0.25);
        height: 100%;
        padding: 10px;
        position: absolute;
        right: 0;
        transition: all 1s ease;
        width: 100%;
        z-index: 1;
    }

    .link:hover .insideCard {
        box-shadow: inset 1rem 0px 5rem -2.5rem rgba(0, 0, 0, 0.1);
    }

    .insideContainer {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        text-align: center;
        width: 100%;
    }

    .insideTitle {
        font-size: 20px;
        font-weight: 600;
        margin-top: 0.2rem;
        color: rgb(33, 150, 243);
    }

    .insideText {
        color: #333;
    }

    .btn {
        background-color: transparent;
        border: 3px solid;
        border-radius: 0.5rem;
        font-size: 1.2rem;
        font-weight: 600;
        margin-top: 2rem;
        overflow: hidden;
        padding: 0.7rem 0.75rem;
        position: relative;
        text-decoration: none;
        transition: all 0.3s ease;
        width: 90%;
        z-index: 10;
        border-color: rgb(33, 150, 243);
        color: rgb(33, 150, 243);
        bottom: 10px;
    }

    .btn::before {
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transform: scaleY(0);
        transition: all 0.3s ease;
        width: 100%;
        z-index: -1;
        background-color: rgb(33, 150, 243);
    }

    .btn:hover {
        color: #fafbfa;
    }

    .btn:hover::before {
        transform: scaleY(1);
    }
}
