.menu {
    display: inline-flex;
    gap: 32px;
    margin-left: 450px;
    margin-right: 200px;
}

.menuItem {
}

.menuLink {
    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.menuLink:focus,
.menuLink:hover {
    color: var(--accent-color);
}

.isActive {
    color: var(--accent-color);
}
