.navigation {
    display: inline-flex;
    gap: 32px;
    margin-left: 450px;
}

.link {
    font-weight: 800;
    color: #101828;
}

.logo {
    color: rgb(33, 150, 243);
}

.link {
    color: #101828;
    font-weight: 500;
}

.isActive {
    color: rgb(33, 150, 243);
}
